.cardButton {
  background-color: #222;
  color: #FFF;
  font-size: 18px;
  border: none;
  margin-right: 10px;
}

.galleryItem {
  float: left;
  list-style: none;
  margin-right: 50px;
  max-width: 100px;
}

.headshot {
  width: 200px;
}

.politician {
  color: red;
  font-size: 18px;
}
