.container {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 900px;
}

.button {
  margin-right: 15px;
  font-size: 24px;
}

.editor {
  background-color: #FEFEFE;
  border: 1px solid #939393;
  min-height: 400px;
}
